.container {
  width: 85vw;
  height: 85vh;
  border-radius: 10px;
  opacity: 0.9;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.modal-content {
  
}
