.body-container {

  width: 100%;
  min-height: 33%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;

}

.mai-image {
  max-width: 50vw;
}
