@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


.header-container {

  width: 100%;
  height: 33%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(55);


}




.header-text-container {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  position: fixed;
  right: 33vw;
  height: 200px;
  font-weight: bold;
  letter-spacing: 0.1em;
  z-index: 10;


}


.header-text:hover {
  color: cyan;
  background: black;
  cursor: pointer;
}

.arrow-icon {
  animation-name: rotate;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;

}


.click {
  animation-name: expand;
  animation-fill-mode: forwards;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  overflow: hidden;
}



@keyframes expand {

  0% {
    height: 0px;
    position: relative;
    top: 450px;
    opacity: 0;
  }



  100% {
    height: 500px;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    rotateZ: 0deg;

  }

  100% {
    rotateZ: 90deg;
  }
}








.links-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  height: 500px;
  position: fixed;
  top: 50%;
  right: 33vw;
  width: 100%;
}


a {
  text-decoration: none;
  color: black;

}

a:visited {
  color: black;
}
